.header--container {
  width: calc(100vw - 20rem);
  height: 50px;
}

.header--container--div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 5rem 3rem 5rem;
}

.header--div--imagen {
  width: 45px;
  height: 45px;
  background-image: url("../../img/computadora.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1.5rem;
}
.imagen--header {
  width: 60px;
  height: 60px;
  margin-right: 2rem;
}
.header--p {
  font-size: 1.75rem;
  font-weight: 700;
}

.header--li {
  margin-right: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.header--a {
  text-decoration: none;
  color: #353535;
  font-weight: 500;
}

.header--li:hover {
  scale: 1.2;
  color: black;
  border-bottom: 3px solid #353535;
}
