.footer--container {
  height: 4rem;
  width: 105%;
  background-color: #7882b9;
}
.footer--logos {
  justify-content: space-around;
  width: 10%;
}
.footer--shishko {
  justify-content: space-around;
  width: 25%;
}
.footer--shishko img {
  margin-right: 0.5rem;
}
.footer--a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.footer--a__img {
  height: 3rem;
  width: 3rem;
}

@media (max-width: 768px) {
  .footer--logos {
    width: 20%;
  }
  .footer--shishko {
    width: 50%;
  }
}
