.footer--container {
  height: 5rem;
  width: 100%;
  background-color: #7882b9;
}
.footer--logos {
  justify-content: space-around;
  width: 40%;
}
.footer--shishko {
  justify-content: space-around;
  width: 25%;
}
.footer--shishko img {
  margin-right: 0.5rem;
}
.footer--a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.footer--a__img {
  height: 3rem;
  width: 3rem;
}
.footer--p {
  font-weight: 500;
}
.footer--p::before {
  content: "\00a9″ ";
}

@media (max-width: 768px) {
  .footer--logos {
    width: 20%;
  }
  .footer--shishko {
    width: 50%;
  }
}
@media (max-width: 412px) {
  .footer--container {
    flex-direction: column;
    height: 10rem;
  }
  .footer--logos {
    width: 95%;
    /* justify-content: ; */
  }
  .footer--p {
    margin-top: 1rem;
  }
}
