* {
  box-sizing: content-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #bbbccc;
  font-family: Montserrat;
  overflow-x: hidden;
}

h2 {
  color: #353535;
  font-size: 2.25rem;
  font-weight: 700;
}

.container__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
