* {
  box-sizing: content-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #bbbccc;
  font-family: Montserrat;
  overflow-x: hidden;
}

h2 {
  color: #353535;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
}

.container__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 10rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #353535;
}
.p2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #353535;
}
