.skillhobbies--container {
  width: 97vw;
  flex-direction: column;
}
.skillhobies--h2 {
  padding-top: 5rem;
}
.skillhobbies--div--container {
  width: calc(97vw - 20rem);
  padding: 5rem 10rem 3rem 10rem;
}
.skillhobbies--ul {
  display: flex;
  justify-content: space-between;
}
.skillhobbies--li {
  width: 160px;
  height: 160px;
  padding: 0.5rem;
  background-color: aqua;
  border-radius: 5%;
}
.skillhobbies--div {
  width: 150px;
  height: 150px;
  background: #585858;
  margin: 4% auto;
}

.skill--div__1 {
  background-image: url(../../img/html5.jpg);
  background-size: cover;
  /* padding: 0.5rem; */
}
