.formacion--container {
  flex-direction: column;
  background: #7882b9;
  width: calc(100vw - 20rem);
  padding: 3rem 10rem 3rem 10rem;
  box-shadow: -10px 10px 10px #7882b9, 10px 10px 10px #7882b9, -10px -10px 10px #7882b9, 10px -10px 10px #7882b9;
}

.formacion--academica {
  width: inherit;
  justify-content: space-between;
  padding: 3rem 0;
}
/* .fomacion--container {
  text-align: center;
} */

.academica {
  /* flex-direction: column; */
  justify-content: space-between;
  background-color: #ffffff;
  width: 350px;
  height: 100px;
  padding: 1rem;
  border-radius: 5%;
  box-shadow: 0px 2px 5px #929ba3, inset 0 0 10px #929ba3;
}
.academia--div {
  background-repeat: no-repeat;
  background-size: cover;
}
.academia--p {
  color: #353535;
  text-align: left;
  font-family: Open, Helvetica, sans-serif;
  line-height: 1.5rem;
  width: 100%;
}
.academia--p1 {
  font-size: 0.8rem;
  font-weight: 700;
}
.academia--p2 {
  line-height: 2rem;
  font-size: 0.6rem;
  font-weight: 700;
}

.elizalde {
  background-image: url(../../img/AgustinElizalde.png);
  width: 86px;
  height: 111px;
}
.unlam {
  background-image: url(../../img/unlam.jpg);
  width: 118px;
  height: 102px;
}
.one {
  background-image: url(../../img/one.jpg);
  width: 117px;
  height: 67px;
}

.formacion--otros {
  width: 100%;
}
.otros--ul {
  flex-direction: column;
  align-items: initial;
  width: 50%;
}
.otros--div--img {
  justify-content: space-around;
  background-color: #ffffff;
  width: 350px;
  height: 60px;
  border-radius: 10px;
}

.otros--pildoras {
  width: 90px;
}
.otros--sql {
  width: 90px;
}
.otros--mysql {
  width: 90px;
  height: 40px;
}
